.page_title{
font-family: 'Orbitron', sans-serif;
border-bottom:2px #666666 solid;
	}
	
.im{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
	}
	.txt{
		font-family: 'Play', sans-serif;
		text-align:center;
		margin-top:2%;
		font-size:16px;
		margin-left:10%;
		margin-right:10%;
		border-radius:5px;
		border:1px solid #999;
		background-color:#EEFDEA;
		margin-bottom:2%;
		
		}
		
		.list{
			text-align:left;}